<div class="container">
  <form
    [formGroup]="onBoardForm"
    (ngSubmit)="onSubmit()"
    class="col-md-10 col-md-offset-2 form-cust"
  >
    <div class="form-group row">
      <label for="name" class="col-md-2">
        Name
      </label>
      <input
        type="text"
        class="col-md-4 col-md-offset-1"
        formControlName="name"
        placeholder="Name"
      />
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('name').hasError('required') &&
          onBoardForm.get('name').touched
        "
      >
        Name field is required
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('name').hasError('minlength') &&
          onBoardForm.get('name').touched
        "
      >
        Minimun length required is =
        {{ onBoardForm.get("name").errors.minlength.requiredLength }}
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('name').hasError('pattern') &&
          onBoardForm.get('name').touched &&
          !onBoardForm.get('name').hasError('minlength')
        "
      >
        Only alphabets are allowed
      </span>
    </div>

    <div class="form-group row">
      <label for="category" class="col-md-2">
        Category
      </label>
      <select
        id="category"
        class="col-md-4 col-md-offset-1"
        formControlName="category"
      >
        <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
      </select>
    </div>

    <div formGroupName="docs" class="form-group row">
      <label class="col-md-12" for="docs">
        Documents
      </label>
      <div id="docs" class="col-md-12" *ngFor="let doc of documents">
        <span class="col-md-4"
          >{{ doc.docName }}
          <span *ngIf="doc.isMandatory">*</span>
        </span>
        <input
          [required]="doc.isMandatory"
          class="checkbox col-sm-1"
          type="checkbox"
          formControlName="{{ doc.docName }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-md-2">
        Dob
      </label>
      <input
        type="date"
        class="col-md-4 col-md-offset-1"
        formControlName="dob"
      />
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('dob').hasError('required') &&
          onBoardForm.get('dob').touched
        "
      >
        Date field is required
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('dob').hasError('dobError') &&
          onBoardForm.get('dob').touched
        "
      >
        DOB should be less than current date
      </span>
    </div>

    <div class="form-group row">
      <label for="fatherName" class="col-md-2">
        Father's Name
      </label>
      <input
        type="text"
        class="col-md-4 col-md-offset-1"
        formControlName="fatherName"
        placeholder="Father name"
      />
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('fatherName').hasError('required') &&
          onBoardForm.get('fatherName').touched
        "
      >
        Father name field is required
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('fatherName').hasError('pattern') &&
          onBoardForm.get('fatherName').touched
        "
      >
        Only alphabets are allowed
      </span>
    </div>
    <div class="form-group row">
      <label for="motherName" class="col-md-2">
        Mother's Name
      </label>
      <input
        type="text"
        class="col-md-4 col-md-offset-1"
        formControlName="motherName"
        placeholder="Mother name"
      />
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('motherName').hasError('required') &&
          onBoardForm.get('motherName').touched
        "
      >
        Mother name field is required
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('motherName').hasError('pattern') &&
          onBoardForm.get('motherName').touched
        "
      >
        Only alphabets are allowed
      </span>
    </div>
    <div class="form-group row">
      <label for="lastClassScore" class="col-md-2">
        Last Class Score
      </label>

      <input
        type="text"
        class="col-md-4 col-md-offset-1"
        formControlName="lastClassScore"
        placeholder="%(marks)"
      />
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('lastClassScore').hasError('pattern') &&
          onBoardForm.get('lastClassScore').touched
        "
      >
        Last class score is of type 88.88
      </span>
      <span
        class="alert alert-danger col-md-offset-1"
        *ngIf="
          onBoardForm.get('lastClassScore').hasError('required') &&
          onBoardForm.get('lastClassScore').touched
        "
      >
        Last class score is required
      </span>
    </div>
    <button
      class="col-md-offset-3 btn btn-primary"
      type="submit"
      [disabled]="!onBoardForm.valid"
    >
      OnBoard
    </button>
  </form>
</div>
