.domestic {
  background-color: lightsalmon;
  border-radius: 5px;
  padding: 10px;
  margin: 1%;
}
.international {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 1%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  padding-top: 200px;
}

.modal-active {
  display: block;
}

.modal-content {
  position: relative;
  background-color: slategray;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  padding: 40px;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.btn-mar {
  padding: 5px 20px;
  margin: 0% 2%;
}
